.container {
    width: 100%;
    margin: auto;
}

@media screen and (min-width:768px) {
      .container {
        width: 50%;
      }   
}

.detail {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail__image {
    width: 25%;
}

.content {
    width: 50%;
}

@media screen and (min-width:768px) {
    .detail__image {
        width: 25%;
    }
    .content {
        padding-left: 3rem;
        width: 25%;
    }
}


